In [76]:
# import the necessary libraries to scrutinise data
%matplotlib inline
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [77]:
report = pd.read_csv('Electric_Utilities_report.csv', index_col="record_id")
report.head()

,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
record_id,,,,,,,,,,
f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [5]:
report.shape

(29523, 10)

# Question 1
If you're given two lists:

A = [1, 2, 3, 4, 5, 6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B = [1, 2, 3, 4, 5, 6, 13, 21, 34]

Which of the following option is the best way to create this list?

In [19]:
A_extend = [1, 2, 3, 4, 5, 6]
A_append = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

A_extend.extend(B)
A_append.append(B)

print("Extend:", A_extend)
print("Append:", A_append)

Extend: [1, 2, 3, 4, 5, 6, 13, 21, 34]
Append: [1, 2, 3, 4, 5, 6, [13, 21, 34]]

# Question 2
How do you create an identity matrix in Python?

In [21]:
np.identity(6)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

# Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [23]:
# group by 'fuel_type_code_pudl' and calculate the means of 'fuel_cost_per_unit_burned' per group
report_gb = report.groupby(["fuel_type_code_pudl"])['fuel_cost_per_unit_burned'].mean().sort_values(ascending=False)
report_gb

fuel_type_code_pudl
nuclear    4955.157002
oil         168.877086
coal         67.421830
waste        19.518122
other        18.253856
gas          13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit(fuel_mmbtu_per_unit) in two decimal places?

In [24]:
print("Standard deviation:", round(report.fuel_mmbtu_per_unit.std(), 2))
print("75th percentile:", round(report.fuel_mmbtu_per_unit.quantile(0.75), 2))

Standard deviation: 10.6
75th percentile: 17.01

# Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [25]:
print("Skewness:", round(report.fuel_qty_burned.skew(), 2))
print("Kurtosis:", round(report.fuel_qty_burned.kurt(), 2))

Skewness: 15.85
Kurtosis: 651.37

# Question 6
Which feature has missing values and what is the total number of missing values and percentage of the missing rows as a factor of the total number of rows in three decimal places?
(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [109]:
#column with a missing value
missing_feat = report.columns[report.isnull().any()].tolist()

# total number of missing values per column
missing_values = report.isnull().sum().values[report.isnull().sum().values > 0]


# percentage of rows with missing values
total_missing = report.fuel_unit.isna().sum()
total_rows = report.shape[0]
percentage_missing = (total_missing / total_rows) * 100


print('Feature:',missing_feat ,'Total:', missing_values ,'Percent:',round(percentage_missing, 3))

Feature: ['fuel_unit'] Total: [180] Percent: 0.61

# Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?#

In [66]:
# getting the data type of fuel_unit
report.fuel_unit.dtypes

dtype('O')

# Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [69]:
corr = report.corr()
corr.fuel_cost_per_unit_burned.sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [111]:
# select records with fuel type coal for 1994 and 1998
coal_1994 = report.loc[(report['fuel_type_code_pudl'] == 'coal') & ((report['report_year'] == 1994))]
coal_1998 = report.loc[(report['fuel_type_code_pudl'] == 'coal') & ((report['report_year'] == 1998))]


coal_1994_sum = coal_1994.fuel_cost_per_unit_burned.sum()
coal_1998_sum = coal_1998.fuel_cost_per_unit_burned.sum()

pct_change = (coal_1998_sum - coal_1994_sum) / coal_1994_sum * 100
print("Percentage change:", round(pct_change))

Percentage change: -21

# Question 10
Which year has the highest average fuel cost per unit delivered?

In [90]:
# group by the 'report_year' and calculate the mean of 'fuel_cost_per_unit_burned' per year
report.groupby('report_year').fuel_cost_per_unit_delivered.mean().sort_values(ascending = False)[:1]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64